{% extends "base_generic.html" %}

{% block content %}

<h1>Animal Detail for {{ animal.id }} - {{ animal.name }} in
  {{ animal.exhibit.name }} in {{ animal.exhibit.zoo.name }}</h1>

{% load static %}
<img class="photo" src="{% static animal.imageFileName %}">

<h3>Food the {{ animal.name }} eats the most:</h3>
{{ animal.dietDescription}}

<h3>Tricks the {{animal.name }} can do:</h3>
{{ animal.tricksDescription}}

<h3>Sound the {{animal.name }} makes:</h3>
{% if animal.soundFileName %}
	<audio controls>
		<source src="{% static animal.soundFileName %}" type="audio/mpeg">
	</audio>
{% else %}
	<p>This animal doesnt make a sound</p>
{% endif %}

<h3><a class="Back" href="{{ animal.exhibit.get_absolute_url }}">Back</a></h3>

{% endblock %}
