{% extends "base_generic.html" %}

{% block content %}

<h1>Exhibit Detail for {{ exhibit.id }} - {{ exhibit.name }} in {{ exhibit.zoo.name }}</h1>

<h1>Neighbors</h1>

{% for neighbor in exhibit.fromExhibit.all %}
 <p>{{ neighbor.direction }} to <a href="{{neighbor.toExhibit.get_absolute_url}}">{{ neighbor.toExhibit.name }}</a></p>
{% endfor %}

<h1>Animals</h1>

{% for animal in exhibit.animal_set.all %}
 <p><a href="{{animal.get_absolute_url}}"> {{ animal.name }}</a></p>
{% endfor %}


{% endblock %}
